/* GENERAL */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-repeat: repeat;
    background-position: center;
    background-size: 300px
}

/* GENERAL */

.information {
    display: flex;
}

.information>div {
    margin: 0px 10px
}

/* HEADER AND FOOTER */

/* -----------CARDS----------- */

.cardsWrapper {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0px 35px;
    border: 1px solid gray;
}

.grid {
    height: 98%;
    width: 98%;
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    overflow-x: hidden;
    padding: 10px;
}

/* -----------CARDS----------- */

/* SHAPES */

/* SHAPES */

/* CARDS EFFECTS */

.card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 25px 5px rgb(204, 204, 204);
}

.selected {
    box-shadow: 0px 0px 25px 5px rgb(204, 204, 204);
    box-shadow: 0px 0px 25px 5px rgba(255, 206, 84, 1);
}

.nofill{
    background-image: linear-gradient(0deg, white, white);
    background-size: 14px 14px;
}
.filled{
    background-image: transparent;
}
.striped{
    background-image: linear-gradient(135deg, #ffffff 25%, transparent 25%, transparent 50%, #ffffff 50%, #ffffff 75%, transparent 75%, transparent 100%);
    background-size: 14px 14px;
}
.red{
    border-color: #ed5565;
    background-color: rgba(237, 85, 101, .5);
}
.green{
    border-color: #a0d468;
        background-color:  rgba(160, 212, 104, 0.5);
}
.blue{
    border-color: #4fc1e9;
        border-color: rgb(79, 193, 233, 0.5);
}

.leaf{
    border: 3px solid;
    border-radius: 100px 0;
}
.rectangle{
    border: 3px solid;
    border-radius: 3px;
}
.pill{
    border: 3px solid;
    border-radius: 100px;
}

.pill, .rectangle, .leaf {
    width: 25%;
    height: 60%;
}
